<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification du post</title>

</head>

<body>
    <header>
        <nav>
            <ul class="nav-ul-1">
                <li> <a href="/" class="lien-nav">Accueil</a></li>
                <li><a href="/admin/panel/membres" class="lien-nav">Membres</a></li>
                <li><a href="/admin/panel/posts" class="lien-nav">Posts</a></li>
                <li><a href="/admin/panel/commentaires" class="lien-nav">Commentaires</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <% if (urlAdminEditPost) { %>
            <h4><%= resultsEditPost[0].idPost %></h4>
            <h4>Prénom & Nom</h4>
            <form action="/admin/panel/post/edit/<%= resultsEditPost[0].idPost %>/confirm" method="post">
                <textarea name="textPost" id="" cols="30" rows="10"><%= resultsEditPost[0].text %></textarea>
                <button type="submit">Confirmer</button>
            </form>
            <button><a href="/admin/panel/post">Annuler</a></button>
        <% } %>

        <% if (urlAdminEditCom) { %>
            <h4><%= resultsEditCom[0].idCom %></h4>
            <h4>Prénom & Nom</h4>
            <h4><%= resultsEditCom[0].idPost %></h4>
            <form action="/admin/panel/com/edit/<%= resultsEditCom[0].idCom %>/confirm" method="post">
                <textarea name="textCom" id="" cols="30" rows="10"><%= resultsEditCom[0].textCom %></textarea>
                <button type="submit">Confirmer</button>
            </form>
            <button><a href="/admin/panel/commentaires">Annuler</a></button>
        <% } %>
    </main>
</body>

</html>