<%- include ('include/headerpt1') %>
<title>Groupomania</title>
<%- include ('include/headerpt2') %>
    <main>
        <section class="section-left">
            <% if (tokencookie) {%>
            <div class="home-profil">
                <div class="img-profil">
                    <img src="images/<%=resultuser[0].Photoprofil%>"alt="Photo de profil">
                </div>
                <div class="text-profil">
                    
                    <p><%= resultuser[0].Firstname + " " + resultuser[0].Lastname %></p>
                    <% if (resultuser[0].Ville == null || resultuser[0].Ville == "" || resultuser[0].Ville == " ") { %>
                    <% } else { %>
                        <p>
                            - Habite à <%= resultuser[0].Ville %>
                        </p>
                    <% } %>
                    <% if (resultuser[0].Datenaissance == null || resultuser[0].Datenaissance == "" || resultuser[0].Datenaissance == " ") { %>
                    <% } else { %> 
                        <p>- ans</p>
                    <% } %>
                    <% if (resultuser[0].Fonction == null || resultuser[0].Fonction == "" || resultuser[0].Fonction == " ") { %>
                    <% } else { %> 
                        <p>- Fonction : <%= resultuser[0].Fonction %></p>
                    <% } %>
                    <% if (resultuser[0].Enpostedepuis == null || resultuser[0].Enpostedepuis == "" || resultuser[0].Enpostedepuis == " ") { %>
                    <% } else { %>
                        <p>- En poste depuis le</p>
                    <% } %>
                </div>
            </div>
            <% } %>
        </section>

        <section class="section-center">          
            <div class="post">
                <h3>Communiquez avec la communauté</h3>
                <form action="/" method="post" enctype="multipart/form-data">
                    <textarea name="textpost" id=""  type="text" minlength="3" maxlength="255" placeholder="Ecrivez votre message" required></textarea>
                    <input type="file" name="imagepost" class="sendpost">
                    <button class="sendpost">Poster</button> 
                </form>
            </div>
            <div class="actualite">
                
                <% result.forEach(function (text) {%>
                    <div class="thePost"> 
                        <div class="img-name">
                            <div>
                                <img class="imgUserPost" src="images/<%=text.Photoprofil%>">
                            </div>
                            <div>
                                <h3>
                                    <%= text.Firstname + " " + text.Lastname %>
                                </h3>
                            </div>
                        </div>
                        <p>
                            <%= text.text %>
                        </p>
                        <h5>
                            <%= text.datePost %>
                        </h5>
                        <form action="/like/post/<%=text.idPost%>" method="post"> 
                            <button type="submit">&#10084;</button>
                        </form>
                        
                        
                        <div class="coms">
                            <form action="/com/post/<%=text.idPost%>" method="post">
                                <input type="text" name="inputcomments" pattern="^[\'!?-._a-zA-Z\d\s]{3,255}$" placeholder="Commentez" required>
                                <button type="submit">Envoyer</button>
                            </form>
                            
                            <% resultcom.forEach(function(com) { %>
                                <% if (com.idPost == text.idPost) {%>
                                    <div class="com-style">
                                        <h5>
                                            <%= com.Firstname + " " + com.Lastname %>
                                        </h5>
                                        <p>
                                            <%= com.textCom %>
                                        </p>
                                    </div>
                                    <form action="/like/com/<%=com.idCom%>/post/<%=text.idPost%>" method="post">
                                        <button name="like" class="buttonlikecom" type="submit"><h5 class="h5likecom">&#10084;</h5></button>
                                    </form>
                                <%} %>
                            <% })%>
                        </div>
                    </div>
                <%}) %>
            </div>
        </section>

        <section class="section-right">
            <div class="footer">
                <a href="">Conditions d'utilisation</a>
                <a href="">Politique de Confidentialité</a>
                <a href="">Politique relative aux cookies</a>
                <a href="">Accessibilité</a>
                <a href="">Informations sur les publicités</a>
                <a href="">Plus</a>
            </div>
        </section>
    </main>

    <footer>

    </footer>

</body>
</html>
