<%- include ('include/headerpt1') %>
<title>Groupomania</title>
<%- include ('include/headerpt2') %>
    <main>
        <section class="section-left">
            <% if (tokencookie) {%>
            <div class="home-profil">
                <div class="img-profil">
                    <img src="images/<%=resultuser[0].Photoprofil%>"alt="Photo de profil">
                </div>
                <div class="text-profil">
                    
                    <p><%= resultuser[0].Firstname + " " + resultuser[0].Lastname %></p>
                    <% if (resultuser[0].Habitea == null) { %>
                    <% } else { %>
                        <p>
                            - Habite à <%= resultuser[0].Habitea %>
                        </p>
                    <% } %>
                    <% if (resultuser[0].Datenaissance == null) { %>
                    <% } else { %> 
                        <p>- ans</p>
                    <% } %>
                    <% if (resultuser[0].Fonction == null) { %>
                    <% } else { %> 
                        <p>- Fonction : <%= resultuser[0].Fonction %></p>
                    <% } %>
                    <% if (resultuser[0].Enpostedepuis == null) { %>
                    <% } else { %>
                        <p>- En poste depuis le</p>
                    <% } %>
                </div>
            </div>
            <% } %>
        </section>

        <section class="section-center">
            
            <div class="post">
                <form action="/" method="post">
                    <textarea name="textpost" id="" cols="30" rows="10" type="text" minlength="10" maxlength="250" placeholder="Veuillez écrire ici..." required></textarea>
                    <button class="sendpost">Poster</button>
                </form>
            </div>
            <div class="actualite">
                
                <% result.forEach(function (text) {%>
                    <div class="thePost"> 
                        <img class="imgUserPost" src="images/<%=text.Photoprofil%>">
                        <h2>
                            <%= text.Firstname + " " + text.Lastname %>
                        </h2>
                        <p>
                            <%= text.text %>
                        </p>
                        <h5>
                            <%= text.datePost %>
                        </h5>
                        <form action="/like/post/<%=text.idPost%>" method="post"> 
                            <button type="submit">&#10084;</button>
                        </form>
                        
                        
                        <div class="coms">
                            <form action="/com/post/<%=text.idPost%>" method="post">
                                <input type="text" name="inputcomments" pattern="^[\-._a-zA-Z\d]{3,255}$" required>
                                <button type="submit">Envoyer</button>
                                <hr>
                            </form>
                            
                            <% resultcom.forEach(function(com) { %>
                                <% if (com.idPost == text.idPost) {%>
                                    <h5>
                                        <%= com.Firstname + " " + com.Lastname %>
                                    </h5>
                                    <h5>
                                        <%= com.textCom %>
                                    </h5>
                                    <form action="/like/com/<%=com.idCom%>/post/<%=text.idPost%>" method="post">
                                        <button name="like" class="buttonlikecom" type="submit"><h5 class="h5likecom">&#10084;</h5></button>
                                    </form>
                                    <hr>
                                <%} %>
                            <% })%>
                        </div>
                    </div>
                <%}) %>
            </div>
        </section>

        <section class="section-right">
        </section>
    </main>

    <footer>

    </footer>

</body>
</html>
