<%- include ('include/headerpt1') %>
<title>Groupomania : Membres</title>
<link rel="stylesheet" href="/css/member.css">
<%- include ('include/headerpt2') %>

<main>
    <section class="section-left">

    </section>
    <section class="section-center">
        <table>
         <thead>
             <tr>
                 <th colspan="4">Membres</th>
             </tr>
         </thead>
         <tbody>
            <th>Prénom Nom</th>
            <th>Rang</th>
            <th>Habite à</th>
            <th>Fonction</th>
            <% resultallusers.forEach(function (user) { %> 
                <tr>
                    <td><img alt="photo de profil" class="imgmemberpp" src="/images/<%=user.Photoprofil%>"> <%=  user.Firstname + " " + user.Lastname %></td>
                    <td><%= user.Rang %></td>
                    <td><%= user.Habitea%></td>
                    <td><%= user.Fonction %></td>
                </tr>
            <% }) %>
         </tbody>
        </table> 

    </section>
    <section class="section-right">

    </section>
</main>