<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/panel.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-ul-1">
                <li> <a href="/" class="lien-nav">Accueil</a></li>
                <li><a href="/admin/panel/membres" class="lien-nav">Membres</a></li>
                <li><a href="/admin/panel/posts" class="lien-nav">Publications</a></li>
                <li><a href="/admin/panel/commentaires" class="lien-nav">Commentaires</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="admin">
            <img class="admin-logo" src="/images/logo.jpg" alt="Le logo Groupomania">
            <h1>Bienvenue sur votre page Admin</h1>
        </div>
        <% if (urlAdminMembers == "/admin/panel/membres" ) {%>
            <table>
                <thead>
                    <tr>
                        <h2>Membres</h2>
                    </tr>
                </thead>
                <tbody>
                    <th>IdUser</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Rang</th>
                    <th>Password</th>
                    <th>Photo de profil</th>
                    <th>Bannière</th>
                    <% results.forEach (function (membres) { %>
                        <tr>
                            <td>
                                <%= membres.Iduser %>
                            </td>
                            <td>
                                <%= membres.Firstname %>
                            </td>
                            <td>
                                <%= membres.Lastname %>
                            </td>
                            <td>
                                <%= membres.Email %>
                            </td>
                            <td>
                                <%= membres.Rang %>
                            </td>
                            <td>
                                <%= membres.Password %>
                            </td>
                            <td>
                                <%= membres.Photoprofil %>
                            </td>
                            <td>
                                <%= membres.Bannerprofil %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>


            <% if (urlAdminPost == "/admin/panel/posts" ) {%>
                <table class="post-table">  
                    <thead>              
                        <tr>
                            <h2 class="h2-post">Publications</h2>
                        </tr>      
                    </thead>             
                    <tbody>
                        <th>IdPost</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Texte du post</th>
                        <th>Image du post</th>
                        <th colspan="2"></th>
                        <% resultsPost.forEach (function (Post) { %>
                            <tr>
                                <td>
                                    <%= Post.idPost %>
                                </td>
                                <td>
                                    <%= Post.Firstname %>
                                </td>
                                <td>
                                    <%= Post.Lastname %>
                                </td>
                                <td>
                                    <%= Post.text %>
                                </td>
                                <td>
                                    <%= Post.image %>
                                </td>
                                <td>
                                    <button class="edit-btn"><a href="/admin/panel/post/edit/<%=Post.idPost%>">Modifier</a></button>
                                </td>
                                <td>
                                    <button class="delete-btn"><a href="/admin/panel/post/delete/<%=Post.idPost%>">Supprimer</a></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            <% } %>


            <% if (urlAdminCom == "/admin/panel/commentaires" ) {%>
                <table>
                    <thead>
                        <tr>
                            <h2 class="h2-com">Commentaires</h2>
                        </tr>
                    </thead>
                    <tbody>
                        <th>IdCom</th>
                        <th>IdPost</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Commentaire</th>
                        <th colspan="2"></th>
                        <% resultsCom.forEach (function (Com) { %>
                            <tr>
                                <td>
                                    <%= Com.idCom %>
                                </td>
                                <td>
                                    <%= Com.idPost %>
                                </td>
                                <td>
                                    <%= Com.Firstname %>
                                </td>
                                <td>
                                    <%= Com.Lastname %>
                                </td>
                                <td>
                                    <%= Com.textCom %>
                                </td>
                                <td>
                                    <button class="edit-btn"><a href="/admin/panel/com/edit/<%=Com.idCom%>">Modifier</a></button>
                                </td>
                                <td>
                                    <button class="delete-btn"><a href="/admin/panel/com/delete/<%=Com.idCom%>">Supprimer</a></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            <% } %>
    </main>
</body>

</html>