<%- include ('include/headerpt1') %>
<title>Groupomania : Profil</title>
<link rel="stylesheet" href="/css/profil.css">
<%- include ('include/headerpt2') %>

    <main>
        <section class="section-left">
        </section>
        <section class="section-center">
           
            <div class="headerprofil">
                <img class="bannerprofil" src="/images/<%= resultuser[0].Bannerprofil %>" alt="Bannière Profil">
            </div>
            <img class="imgprofil" src="/images/<%= resultuser[0].Photoprofil %>" alt="Photo de profil">
            <section class="mainprofil">
                <div class="divprofilpost">
                    <div class="profil-post">
                        <h3>Mes publications</h3>
                    <% resultProfilPost.forEach(function (profilPost) {%>
                        <h4><%= profilPost.Firstname + " " + profilPost.Lastname %></h4>
                        <h5><%= profilPost.text %></h5>
                        <h5><%= profilPost.datePost %></h5>                 
                        <% resultcom.forEach(function(com) { %>
                            <% if (com.idPost == profilPost.idPost) {%>
                                <h5>
                                    <%= com.Firstname + " " + com.Lastname %>
                                </h5>
                                <h5>
                                    <%= com.textCom %>
                                </h5>
                                <form action="/like/com/<%=com.idCom%>/post/<%=profilPost.idPost%>" method="post">
                                    <button name="like" class="buttonlikecom" type="submit"><h5 class="h5likecom">&#10084;</h5></button>
                                </form>
                                <hr>
                            <% } %>
                        <% }) %>
                    <% }) %>
                <div class="divprofilcom">
                    <h3>Mes commentaires</h3>
                    <% resultcom.forEach (function (myCom) {%>
                        <% if (myCom.Iduser == IDUserJSON.Id) {%>
                            <h4>
                                <%= myCom.Firstname + " " + myCom.Lastname %>
                            </h4>
                            <h5>
                                <%= myCom.textCom %>
                            </h5>
                        <% } %>
                    <% }) %>
                
                <div class="divprofillike"></div>
            </section>
        </section>
        <section class="section-right">
            <div class="footer">
                <a href="">Conditions d'utilisation</a>
                <a href="">Politique de Confidentialité</a>
                <a href="">Politique relative aux cookies</a>
                <a href="">Accessibilité</a>
                <a href="">Informations sur les publicités</a>
                <a href="">Plus</a>
            </div>
        </section>


    </main>
    <footer></footer>
</body>
</html>