<%- include ('include/headerpt1') %>
<title>Groupomania : Profil</title>
<link rel="stylesheet" href="/css/profil.css">
<%- include ('include/headerpt2') %>

    <main>
        <section class="section-left">
        </section>
        <section class="section-center">
           
            <div class="headerprofil">
                <img class="bannerprofil" src="/images/<%= resultuser[0].Bannerprofil %>" alt="Bannière Profil">
                <img class="imgprofil" src="/images/<%= resultuser[0].Photoprofil %>" alt="Photo de profil">
                <div class="statsprofil">
                    <h4>Post</h4>
                    <h4>???</h4>
                    <h4>Commentaire</h4>
                    <h4>???</h4>
                    <h4>Like</h4>
                    <h4>???</h4>
                    
                </div>
                <div class="optionprofil">
                    <button class="buttonprofiloption">Post</button>
                    <button class="buttonprofiloption">Commentaire</button>
                    <button class="buttonprofiloption">Like</button>
                </div>
            </div>
            <section class="mainprofil">
                <div class="divprofilpost">
                    <% resultProfilPost.forEach(function (profilPost) {%>
                        <h4><%= profilPost.Firstname + " " + profilPost.Lastname %></h4>
                        <h5><%= profilPost.text %></h5>
                        <h5><%= profilPost.datePost %></h5>
                        <% resultcom.forEach(function(com) { %>
                            <% if (com.idPost == profilPost.idPost) {%>
                                <h5>
                                    <%= com.Firstname + " " + com.Lastname %>
                                </h5>
                                <h5>
                                    <%= com.textCom %>
                                </h5>
                                <form action="/like/com/<%=com.idCom%>/post/<%=profilPost.idPost%>" method="post">
                                    <button name="like" class="buttonlikecom" type="submit"><h5 class="h5likecom">&#10084;</h5></button>
                                </form>
                                <hr>
                            <% } %>
                        <% }) %>
                    <% }) %>
                </div>
                <div class="divprofilcom">
                    <% resultcom.forEach (function (myCom) {%>
                        <% if (myCom.Iduser == IDUserJSON.Id) {%>
                            <h4>
                                <%= myCom.Firstname + " " + myCom.Lastname %>
                            </h4>
                            <h5>
                                <%= myCom.textCom %>
                            </h5>
                        <% } %>
                    <% }) %>
                </div>
                <div class="divprofillike"></div>
            </section>
        </section>
        <section class="section-right">
            
        </section>


    </main>
    <footer></footer>
</body>
</html>